@import url("fonts.css");

body {
}    

a{
  color: var(--body-color);
}

button{  
  cursor: pointer;
}

.topbar{
  position: -webkit-sticky; 
  position: sticky;
  top:0;  
  background-color:white;
  width: auto;
  margin: auto;  
  text-align: center;
  align-content: center; 
  justify-content: center;
  align-items: center;
  min-width: 310px;
}

.centerbar{
  text-align: center; 
  align-content: center;
  margin: auto;  
  display: flex; 
  flex-direction: column; 
  width: fit-content;
}

.params{
  margin:auto; 
  width: fit-content;
  min-width: 310px;
  text-align: left;  
}


.params h3{
  margin-left: 0px;
  margin-bottom: 10px;
  text-align: left;  
  text-align: center;
}

.params input[type = checkbox]{
  margin-left: 0px;
  align-content: left;
}


.params button{  
  width: 50px;
  margin-left: 5px;
}

.param-value{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-bottom: 5px;
}

.param {
  text-align: left;  
  width: 100px;
}

.value {
}

.info-small{
  font-size: 0.7em;
}

.info-small .param-value{
  margin-bottom: 0px;
}

.info-small .param{ 
  width: 75px;
}

.action{
  text-align: right; 
  align-items: right;
  margin-top: 20px;
}

.action button{
  width: 80px; 
}


.banner{
  display: none;
  padding: 40px;
  opacity: 0.95;
  position: absolute;  
  min-width: 340px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; 
}

.banner .message{  
  font-size: 1.2em;
  position: absolute;  
  text-align: center;
  font-size: 16px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.banner .close{ 
  position: absolute;
  top: 5px;
  right:10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}


.progress-container{
  height: 3px;
  position: relative;
}

.progress-container .progress {  
  height: 100%;
  background-color: #3498db;
  position: absolute;
  width: 100px;
  left: 50%;  
  transform: translateX(-50%);  
  animation: progress 0.5s linear infinite alternate;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 250px;
  }
}


.menu-button {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 1px;
  width: 25px;
  height: 20px;
  position: absolute;
  top:3px;
  left:0;
}

.menu-button span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease;
  pointer-events: none;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-button span:nth-child(3) {
  bottom: 0;
}

.menu-button:focus {
  outline: none;
}

.popup-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width:auto;
}

.popup-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-menu li {
  margin-bottom: 1rem;
  text-align: left;
}

.popup-menu li:last-child {
  margin-bottom: 0;
}

.popup-menu a {
  color: #333;
  text-decoration: none;
}

.popup-menu a:hover {
  color: #007BFF; 
}


.button-input {
  position: absolute;
  right: 10px; /* Adjust based on the desired padding between the icon and the input box */
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}